@keyframes slide {
  from {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  to {
    transform: translateX(-700px);
    -webkit-transform: translateX(-700px);
    -moz-transform: translateX(-700px);
    -ms-transform: translateX(-700px);
    -o-transform: translateX(-700px);
  }
}

.slide {
  animation: slide 15s linear 2s infinite;
  -webkit-animation: slide 15s linear 4s infinite;
}

@media screen and (max-width: 768px) {
  .slide {
    animation: none;
    -webkit-animation: none;
  }
}
