.hero__image {
  max-width: 566px;
  width: 40%;
  display: block;
}

@media screen and (max-width: 768px) {
  .hero__image {
    width: 60%;
  }
}

@media screen and (max-width: 425px) {
  .hero__image {
    width: 60%;
  }
}
