.hero__icon-wrapper {
  align-self: flex-end;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

@media screen and (max-width: 425px) {
  .hero__icon-wrapper {
    display: none;
  }
}
