.hero {
  background: #4438ff;
  height: calc(100vh - 75px);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .hero {
    height: calc(90vh - 75px);
  }
}

@media screen and (max-width: 425px) {
  .hero {
    height: calc(57vh - 75px);
  }
}
