.footer__metal {
  margin-left: auto;
  width: 50px;
  opacity: 0;
  background: #fff;
  transition: opacity 0.4s 0.2s;
}

@media screen and (max-width: 768px) {
  .footer__metal {
    display: none;
  }
}
