.project__link {
  text-decoration: none;
  color: #0e0e0e;
}

.project__link:hover .project__image {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
