.clients__container {
  margin: auto;
  padding: 100px 40px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 40px;
}

@media screen and (max-width: 768px) {
  .clients__container {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
  }
}

@media screen and (max-width: 425px) {
  .clients__container {
    padding: 80px 25px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
  }
}
